<!-- <div class="container">
<div class="row"> -->
<!-- <div class="col-md-3 card text-center"> -->
<!-- <span>We have sent you a link to your email .</span>
<span>Go to your gmail and verify your email</span>


</div>
</div> -->

<div class="container-fluid d-flex justify-content-center align-items-center bg-image">
  <div class="card text-center">
    <div class="card-header p-5">
      <img src="../../assets/Images/email.png">
      <h3 class="mb-4">We have sent you a link to your email .</h3>
      <h5 class="mb-4">Go to your gmail and verify your email</h5>
    </div>
  </div>
</div>
