 <div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <div class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input [(ngModel)]="email" type="email" placeholder="email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input [(ngModel)]="password" type="password" placeholder="Password" />
        </div>
        <input type="submit" (click)="signinUser()" value="Login" class="btn solid" />
        <div class="or">
          <span class="or-text">
            OR
          </span>
        </div>
        <div class="social-media">
          <a href="#" class="social-icon mt-3">
            <i class="fab fa-google"></i>
          </a>
          <label class="pt-4 text-decoration:red;" style="margin-left:10px">Sign in with Google</label>

        </div>
      </div>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>New here ?</h3>
        <p>
         If You are New User Please Register First , Thank You
        </p>
        <button class="btn transparent" id="sign-up-btn">
          Sign up
        </button>
      </div>
      <img src="../assets/Images/CarFOrUi2.png" class="image" alt="" />
    </div>
  </div>
</div>
