.container-fluid{

  background-repeat: no-repeat;
  background-position: center;
  /* background-color: rgb(1, 1, 54); */
  /* background-image: url("../../assets/Images/backsign.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
}
.form-box
{
   /* overflow:hidden; */
  padding: 50px 0 0 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:#000;
  /* background-image: url("../../assets/Images/backsign.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
}
.form-change{
  margin-top :5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.form-change{

  padding: 30px 70px 40px 70px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}
.form .logo svg{
  width: 104px;
  height: 146px;
  ;
}
.form-group{
  margin: 20px 0;
  position: relative;
}
.form-group i{
  position: absolute;
  top: 10px;
  left: 5px;
}
.form-group input{
  width: 350px;
  font-weight: 500;
  padding: 5px 10px 5px 50px;
  border: 0;
  border-bottom: 2px solid rgb(196, 196, 196);
  outline: 0;
}

.form .already
{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.links{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  margin-top:10px;
}
.links .forget{
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.form-group .signin{
  padding: 8px 30px !important;
  font-size:16px;
  letter-spacing: 2px;
  font-weight: 600;
}
.form span .already
{
  text-decoration: underline;
  color: black;
  letter-spacing: 1px;
}
.signbtn{
  margin-top: 60px;
  margin-bottom: 0;
  background-color: rgb(1, 2, 35);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.google-btn .btn-google .fa-google{
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  vertical-align: middle;
  margin-left: 10px;
}
.btn-google{
  padding: 8px 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-weight:600;
  border: 1px solid rgb(4, 64, 101);
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  cursor: pointer;
}
.btn-google:hover{
  background:rgb(1, 6, 58);
  color:#fff;
}
.form .or{
  position: relative;
  font-weight: 500;
  color: rgb(155, 155, 155);
  margin: 20px;
}
.form .or::before{
  content: '';
  position: absolute;
  right: 25px;
  top: 12px;
  width: 80px;
  height: 1px;
  background-color: rgb(155, 155, 155);
}
.form .or::after{
  content:'';
  position: absolute;
  left: 24px;
  top:12px;
  width: 80px;
  height:1px;
  background-color: rgb(155, 155, 155);
}

.btn .signin{
  background-color: rgb(1, 2, 35);
}

.btn{
  color:white;
}
.validationS{
  font-size: 14;
  color:red;
}
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.head h1{
  margin-bottom: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size:40px;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
}

h1:hover {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
      0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc,
      0 7px 0 #ccc, 0 8px 0 #ccc,
      0 9px 0 #ccc, 0 10px 0 #ccc,
      0 11px 0 #ccc, 0 12px 0 #ccc,
      0 20px 30px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 390px){

  .form-change{
    margin-top :5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
/* overflow: hidden; */
  }
  .form-change{

    padding: 30px -3px 39px 70px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.0);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .form .logo svg{
    width: 104px;
    height: 146px;
    ;
  }
  .form-group{
    margin: 20px 0;
    position: relative;
  }
  .form-group i{
    position: absolute;
    top: 10px;
    left: 5px;
  }
  .form-group input{
    width: 350px;
    font-weight: 500;
    padding: 5px 10px 5px 50px;
    border: 0;
    border-bottom: 2px solid rgb(196, 196, 196);
    outline: 0;
  }

  .form .already
  {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
  }
  .links{
    display: flex;
    justify-content: space-between;
    width: 800%;
    font-size: 10px;
    margin-top:10px;
  }
  .links .forget{
    font-weight: 300;
    color: rgb(0, 0, 0);
  }



}
