<div class="container">
    <div class="form-box">
      <div action="#" class="form-change">
        <div class="head">
            <h1>Sign In</h1>
        </div>
  <div class="form-group">
          <i class="fa fa-mail-bulk"></i>
          <input type="email" [(ngModel)]="email" placeholder="Email"  autocomplete="off">
        </div>

        <div class="form-group">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" [(ngModel)]="password" placeholder="Password" autocomplete="off">
        </div>
        <div class="links">
          <span>New User ? <a class="already" href="sign-up">Sign Up</a></span>
          <a href="" class="forget">Forget Password</a>
        </div>

        <div class="form-group signbtn">
          <a style="cursor:pointer" (click)="signinUser()" class="btn signin">Sign In</a>
        </div>
        <span class="or mt-3">
          OR
        </span>
        <div class="google-btn mt-3">
          <a  (click)="signInWithGoogle()" style="cursor:pointer" class="btn-google">Sign in with Google <i class="fa fa-google"></i></a>
        </div>

      </div>
    </div>
  </div>
