<div class="content banner">
  <!-- <div class="logo">
    <img class="img-fluid" src="../../assets/Images/activa1.jpg" />
  </div> -->
  <div class="container text" id="movetxt">
    <h2>YOur Pick Of Rides at Low Prices</h2>
  </div>
</div>

<div class="container text-center">


  <div class="product-card ">
    <div class="row">
      <div class="outer-card " >
        <div class="card-search">
          <table>
            <tr>
              <div class="card-search2">
                <th>
                  <div class="form-group search2 ">
                    <input type="email" name="email" placeholder="From" autocomplete="off">
                  </div>
                </th>
                <th>
                  <div class="form-group search2">
                    <input type="email" name="email" placeholder="To" autocomplete="off">
                  </div>
                </th>
                <th>
                  <div class="form-group search2 ">
                    <input type="date" id="birthday" name="birthday">
                  </div>
                </th>
                <th>
                  <div class="input-counter bg-light" >
                    <span class="minus-btn"><i class="fas fa-minus"></i></span>
                    <input type="text" value="1">
                    <span class="plus-btn"><i class="fas fa-plus"></i></span>
                  </div>
                </th>
                <th>
                  <input type="submit" value="Search" class="btn solid3" />
                </th>
              </div>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container mission">
  <h2>
    Your safety is our priority
  </h2>
  <p>“ At Ride with us, we're working hard to make our platform as secure as it can be. But when scams do happen, we want
    you to know exactly how to avoid and report them. Follow our tips to help us keep you safe.”</p>
</div>

<div class="container text-center">
  <div class="product-heading">
    <h1>PUBLISH RIDES</h1>
  </div>

  <div class="product-card ">
    <div class="row">
      <div class="outer-card " *ngFor="let publish of publishRide">
        <div class="card publish">
          <div class="card-content">
            <table>
              <tr>
                <div class="card-image">
                  <th>
                    <img class="img-fluid" [src]="publish.publisherId.vehicle.image" height="300" width="300"/>
                  </th>
                  <th>

                    <div class="form-group">
                      <input type="email" name="email" [value]="publish.fromId.place" autocomplete="off">
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input type="email" name="email" [value]="publish.toId.place" autocomplete="off">
                    </div>
                  </th>
                  <th>
                    <input type="submit" style="border: 1px solid;border-radius: 100px" value="View" class="btn solid2" />
                  </th>
                </div>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container category-block">
  <div class="category-heading">
    <h2>About Ideas</h2>
  </div>
  <div class="row categories">
    <div class="col-2 col-md-4 col-sm-6 category-img">
      <a>
        <img src="../../assets/Images/activa1.jpg" alt="category image" />


          <div class="container mission">
            <span>
              Your safety is our priority
            </span>
            <h5>No matter where you’re going, by bus or carpool, find the perfect ride from our wide range of destinations
              and routes at low prices.</h5>
          </div>

      </a>
    </div>
    <div class="col-2 col-md-4 col-sm-6 category-img">
      <a>
        <img src="../../assets/Images/background1.jpg" alt="category image" />
        <div class="container mission">
        <span>Trust who you travel with</span>

          <h5> We take the time to get to know each of our members and bus partners. We check reviews, profiles and IDs,
            so you know who you’re travelling with and can book your ride at ease on our secure platform.</h5>

      </div>
      </a>
    </div>
  </div>
</div>
