<div class="content banner">
  <div class="container text" id="movetxt">
    <h2>Your Pick Of Rides at Low Prices</h2>
  </div>
</div>

<div class="container text-center">
  <div class="search-card ">
    <div class="row">
      <div class="outer-card ">
        <div class="card-search">
          <table>
            <tr>
                <th>
                  <div class="form-group search2 ">
                    <input [(ngModel)]="from" list="datalistOptions" id="exampleDataList" placeholder="From">
                    <datalist id="datalistOptions">
                    <option *ngFor="let pla of places" [value]="pla.place">
                    </datalist>
                  </div>
                </th>
                <th>
                  <div class="form-group search2">
                    <input [(ngModel)]="to" list="datalistOptions1" id="exampleDataList1" placeholder="To">
                    <datalist id="datalistOptions1">
                    <option *ngFor="let pla of places" [value]="pla.place">
                    </datalist>
                  </div>
                </th>
                <th>
                  <div class="form-group search2 ">
                    <input [(ngModel)]="date" type="date" id="birthday" name="birthday">
                  </div>
                </th>
                <th>
                  <input type="submit" (click)="searchRides()" value="Search" class="btn solid3" />
                </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="ride-heading">
    <h1>PUBLISH RIDES</h1>
</div>

  <div class="product-card " *ngIf="status">
    <div class="row">
      <div class="outer-card ">
        <div class="card publish" *ngFor="let publish of publishRide">
          <div class="card-content" >
            <table>
              <tr>
                <div class="card-image">
                  <th>
                    <img class="img-fluid" [src]="publish.publisherId.vehicle.image" />
                  </th>
                  <th>
                    <div class="form-group">
                      <label>
                        <h4 class="p-3">From</h4>
                      </label>
                      <input type="text" name="from" [value]="publish.fromId.place" autocomplete="off">
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <label>
                        <h4 class="p-3">To</h4>
                      </label>
                     <input type="text" name="to" [value]="publish.toId.place" autocomplete="off">
                    </div>
                  </th>
                  <th>
                    <div class="input-field">
                      <label class="calender" style="margin-right:50px;margin-left:20px;margin-top:20px"
                        class="fas fa-calculator">Date : {{publish.rideDate | date:'dd/MM/yyyy'}}</label>
                      <div class="form-group search2 pt-3">
                      </div>
                    </div>
                  </th>
                  
                  <th>
                    <input type="submit" (click)="viewRide(publish._id)" value="View" class="btn solid2" />
                  </th>
                </div>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>

<div class="container mission">
  <h2>
    Your safety is our priority
  </h2>
  <p>“ At Ride with us, we're working hard to make our platform as secure as it can be. But when scams do happen, we
    want
    you to know exactly how to avoid and report them. Follow our tips to help us keep you safe.”</p>
</div>

<div class="about_banner2">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"   aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2500">
      <img src="../../assets/Images/home7.png" class="d-block w-100 h-20" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2500">
      <img src="../../assets/Images/home3.jpg" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item"  data-bs-interval="2500">
      <img src="../../assets/Images/home4.jpg" class="d-block w-100" alt="..." >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
<!-- </div> -->
</div>

<div class="container">
  <div class="row">
    <h1 class="help">Carpooling Help Center</h1>
    <div class="col-md-6">
      <div>
      <h3>How do I book a carpool ride?</h3>
      <p>
        You can book a carpool ride on our mobile app, or on blablacar.com.
        Simply search for your<span id="dots">...</span><span id="more"></span> destination, choose the date you want to travel
         and pick the carpool that suits you best! Some rides can be booked
         instantly, while other rides require manual approval from the driver.
          Either way, booking a carpool ride is fast, simple and easy.
      </p>

    </div>
      <h3 class="pt-5">How do I cancel my carpool ride?</h3>
      <p>
        If you have a change of plans, you can always cancel your carpool ride
        from the ‘Your rides’ section of our app. The sooner you cancel, the
        better. That way the driver has time to accept new passengers.
        The amount of your refund will depend on how far in advance you cancel.
         If you cancel more than 24 hours before departure, for example,
         you’ll receive a full refund, excluding the service fee.
      </p>

      <h3 class="pt-4">How much does a carpool ride cost?</h3>
      <p>
        The costs of a carpool ride can vary greatly, and depend on factors
         like distance, time of departure, the demand of that ride and more.
          It is also up to the driver to decide how much to charge per seat,
          so it’s hard to put an exact price tag on a ride. Check out some of
          our top carpool destinations to get an idea of price, or start
          searching for your next carpool ride on blablacar.com.
      </p>

    </div>
    <div class="col-md-6">
      <h3>How do I publish a carpool ride?</h3>
      <p>
        Offering a carpool ride on BlaBlaCar is easy. To publish your ride,
         use our mobile app or blablacar.com. Indicate your departure and
         arrival points, the date and time of your departure, how many
          passengers you can take and the price per seat. You’ll also need
          to choose how you want to accept bookings (either automatically
           or manually), and you have the option of adding any important
           details you think your passengers should know about. Then tap
           ‘Publish ride’ and you’re done!
      </p>

      <h3>What are the benefits of travelling by carpool?</h3>
      <p>
        There are multiple advantages to carpooling, over other means
         of transport. Travelling by carpool is usually more affordable,
          especially for longer distances. Carpooling is also more eco-friendly,
           as sharing a car means there will be fewer cars on the road,
            and therefore fewer emissions. Taking a carpool ride is also
            a safe way to travel in the current times. Because there are
            only a few people in a car, you have fewer points of contact
            and there’s less risk than other travel options.
      </p>


      <h3>How do I start carpooling?</h3>
      <p>Carpooling with BlaBlaCar is super easy, and free! Simply sign up for an account and tell us some basic details about yourself. Once you have a BlaBlaCar account, you can start booking or publishing rides directly on our app or website.</p>
     </div>

  <div id="sub-hero">
    <div class="container">
        <div class="row">
            <div class="col-6 text-center2" id="sub-banner">
                <img src="../../assets/Images/homebanner1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-6" id="subhero-text">
                <h3>Our Mission</h3>
                <p>
                    Our Rides offers a stunning variety of rides in different different routes,lovely rides.
                </p>
            </div>
        </div>
    </div>
</div>

<input type="submit"  value="next" class="btn solid2" />

