<!--

<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <div class="sign-in-form">
        <h2 class="title ">PUBLISH RIDE</h2>
        <div class="input-field">
          <input  type="text" name="From" placeholder="From" />
        </div>
        <div class="input-field">
          <input type="text" name="To" placeholder="To" />
        </div>
        <div class="input-field">
          <div class="form-group search2 pt-3">
            <input type="date" id="birthday" name="birthday">
          </div>
        </div>
        <label class="time" style="margin-right:320px;margin-top:20px" class="fas fa-clock">Time</label>
        <div class="input-field">
<input type="time" style="margin-right:-300px;margin-top:5px"  name="appt" placeholder="TIme" />
        </div>
        <div class="form-group" style="width:380px;margin-top: 20px;">
          <label>Your Message</label>
          <textarea class="form-control" name="msg" cols="30" rows="6"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn solid" />
        <div class="or">
        </div>
      </div>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <p>
         Publish your ride for Sharing
        </p>
        <div class="content">
          <h3 class="pb-4">Please Fill Complete Details</h3>
          <button class="btn solid" id="sign-up-btn">
            <i class="far fa-arrow-alt-circle-left" style="height: 20px;width: 20px;"></i>
           BACK
          </button>
        </div>
        <img src="../assets/Images/CarFOrUi2.png" class="image" alt="" />
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="form-box">
    <div action="#" class="form-change">
      <div class="head">
        <h2 class="title ">PUBLISH RIDE</h2>
      </div>
      <div class="form-group">
        <i class="fa fa-circle" aria-hidden="true"></i>
        <input [(ngModel)]="from" required list="datalistOptions" id="exampleDataList" exampleDataList="ngModel" placeholder="From">
        <!-- <div class="validationS" *ngIf="exampleDataList.errors?.required && exampleDataList                                 .touched">Enter the value</div> -->
        <datalist id="datalistOptions">
          <option *ngFor="let pla of places" [value]="pla.place ">
        </datalist>
       </div>   

      <div class="form-group">
        <i class="fa fa-circle "></i>
        <input [(ngModel)]="to" list="datalistOptions" id="exampleDataList" placeholder="To">
        <datalist id="datalistOptions">
          <option *ngFor="let pla of places" [value]="pla.place ">
        </datalist>
      </div>
      <div class="form-group">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="number"  [(ngModel)]="seat" placeholder="Available Seat" />
      </div>
      <div class="form-group">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <input [(ngModel)]="date" type="date" id="birthday">
      </div>
      <div class="form-group">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
        <input type="time"  [(ngModel)]="time" placeholder="time" />
      </div>


      <div class="form-group">
        <label>Your Message</label>
        <textarea class="form-control" [(ngModel)]="message" placeholder="Message"></textarea>
      </div>
     <div class="form-group">
        <a (click)="submitDetail()" style="cursor:pointer" class="btn signup">Publish</a>
      </div>
    </div>
  </div>
</div>







