<!--

<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <div class="sign-in-form">
        <h2 class="title ">PUBLISH RIDE</h2>
        <div class="input-field">
          <input  type="text" name="From" placeholder="From" />
        </div>
        <div class="input-field">
          <input type="text" name="To" placeholder="To" />
        </div>
        <div class="input-field">
          <div class="form-group search2 pt-3">
            <input type="date" id="birthday" name="birthday">
          </div>
        </div>
        <label class="time" style="margin-right:320px;margin-top:20px" class="fas fa-clock">Time</label>
        <div class="input-field">
<input type="time" style="margin-right:-300px;margin-top:5px"  name="appt" placeholder="TIme" />
        </div>
        <div class="form-group" style="width:380px;margin-top: 20px;">
          <label>Your Message</label>
          <textarea class="form-control" name="msg" cols="30" rows="6"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn solid" />
        <div class="or">
        </div>
      </div>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <p>
         Publish your ride for Sharing
        </p>
        <div class="content">
          <h3 class="pb-4">Please Fill Complete Details</h3>
          <button class="btn solid" id="sign-up-btn">
            <i class="far fa-arrow-alt-circle-left" style="height: 20px;width: 20px;"></i>
           BACK
          </button>
        </div>
        <img src="../assets/Images/CarFOrUi2.png" class="image" alt="" />
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="form-box">
    <div action="#" class="form-change">
      <div class="head">
        <h2 class="title ">PUBLISH RIDE</h2>
      </div>
      <div class="form-group">
        <i class="fa fa-circle" aria-hidden="true"></i>
        <input [(ngModel)]="from" required list="datalistOptions" id="exampleDataList" #exampleDataList="ngModel" placeholder="From">
        <div class="validationS" *ngIf="exampleDataList.errors?.required && exampleDataList.touched">!Please Enter Place Name</div>
        <datalist id="datalistOptions">
          <option *ngFor="let pla of places" [value]="pla.place ">
        </datalist>
       </div>   

      <div class="form-group">
        <i class="fa fa-circle "></i>
        <input [(ngModel)]="to" list="datalistOptions" id="exampleDataList1" #exampleDataList1="ngModel" required placeholder="To">
        <div class="validationS" *ngIf="exampleDataList1.errors?.required && exampleDataList1.touched">!Please Enter Place Name</div>
        <datalist id="datalistOptions">
          <option *ngFor="let pla of places" [value]="pla.place ">
        </datalist>
      </div>
      <div class="form-group">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input id="seat1" type="number" [(ngModel)]="seat" required  min="1" placeholder="Available Seat" #seat1="ngModel"/>
        <div class="validationS" *ngIf="seat1.errors?.required && seat1.touched">!Required Seat</div>
      </div>
      <div class="form-group">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <input id="date1" [(ngModel)]="date"  type="date" (change)="dateValidation()" required #date1="ngModel">
        <div *ngIf="dur">!can't be publish Ride !!Date Wrong</div>        
        <div class="validationS" *ngIf="date1.errors?.required && date1.touched">!Required Date </div>
      </div>
      <div class="form-group">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
        <input id="time1" type="time"  [(ngModel)]="time" #time1="ngModel" required placeholder="time" />
          
        <div class="validationS" *ngIf="time1.errors?.required && time1.touched">Required Time </div>
      </div>


      <div class="form-group">
        <label>Your Message</label>
        <textarea class="form-control" [(ngModel)]="message" placeholder="Message"></textarea>
      </div>
     <div class="form-group">
        <!-- <a (click)="submitDetail()" [disabled]="exampleDataList1.errors?.required||exampleDataList.errors?.required" style="cursor:pointer" class="btn signup">Publish</a> -->
        <button (click)="submitDetail()" [disabled]="dur||date1.errors?.required||seat1.errors?.required||time1.errors?.required||exampleDataList1.errors?.required||exampleDataList.errors?.required" style="cursor:pointer" class="btn signup">Publish</button>
      </div>
    </div>
  </div>
</div>







