<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color="#ffffff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  <section style="background-color: #eee">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="rounded-3 p-3 mb-4" style="  background-color:#1B2A49;color:white">
            <h1 class="text-center">Edit Vehicle Profile</h1>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img *ngIf="!getLength(image.length)" [src]="imageUrl"   height="200px" width="200px">
        <img *ngIf="getLength(image.length)"  [src]="image" height="200px" width="200px">
          <h6>Upload a different photo...</h6>

          <input type="file" (change)="selectImage($event)"  multiple name="image" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Name</p>
                </div>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)]="name" name="name" [value]="name">
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Number</p>
                </div>
                <div class="col-sm-9">
                  <input  type="text" [(ngModel)]="number" name="number" placeholder="Vehicle Number" />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Wheeler</p>
                </div>
                <div class="col-sm-9">
                  <input (click)="wheels(2)" checked="{{status(2)}}" class="form-check-input pl-3" class="m-2" type="radio" name="inlineRadioOptions"  id="inlineRadio1" [value]="two">
                <label class="form-check-label pl-3" class="m-2" for="inlineRadio1"> 2-Wheeler</label>
                <input (click)="wheels(4)" checked="{{status1(4)}}" class="form-check-input pl-3" class="m-2" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                <label class="form-check-label pl-3" class="m-2"  for="inlineRadio2">4-Wheeler</label>

                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group text-left mb-5 text-center">
      <button (click)="submitDetail()"  style="cursor: pointer;"class="btn mt-3 signup mb-5">Udate Detail</button>
    </div>
  </section>


