
   body{margin-top:20px;}
.avatar{
width:200px;
height:200px;
}

.form-group .signup{
  padding: 8px 50px;
  background: rgb(1, 2, 35);
  color: #fff;
  margin: 100px 0 0;
  margin-left: 500px;
}
.form-group .btn2{
  margin:0 15px;
  margin-top:30px;
  justify-content: center;
}

.form-group .control-label{
  font-weight:bold;
  font-size:20px;
  margin:10px;
  margin-top: 30px;
}


.form-group .done{
  padding: 2px 15px;
  background: rgb(1, 2, 35);
  color: #fff;
  margin: 50px 0 0;

}
.form-group .btn{
  margin:0 1px;
  /*  */
  margin-top:10px;
}

.ui-select input{
  text-decoration: #000;
}


