
  <div class="container bootstrap snippets bootdey">
    <h1 class="text-primary m-5 " style="text-align: center;" >Edit Profile</h1>
    <hr>
    <div class="row">
      
      <div class="col-md-3 sara">
        <div class="text-center">
          <img *ngIf="!getLength(image.length)" [src]="imageUrl"   height="200px" width="200px">
        <img *ngIf="getLength(image.length)"  [src]="image" height="200px" width="200px">
          <h6>Upload a different photo...</h6>
  
          <input type="file" (change)="selectImage($event)"  multiple name="image" class="form-control">
        </div>
      </div>
  
      
      <div class="col-md-9 personal-info">
  
        
  
        
          <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="name" name="name" [value]="name">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-lg-3 control-label"> Vehicle No:</label>
            <div class="col-lg-8">
              <div class="ui-select">       
                <input  type="text" [(ngModel)]="number" name="number"    placeholder="Vehicle Number" />
                </div>
            </div>
        </div>
           <div class="form-group">
               <label for="vehicletype" class="col-lg-3 control-label">Vehicle Type</label>
               <div class="col-lg-8">
                <div class="ui-select">       
                   <input [(ngModel)]="wheeler"  class="form-check-input pl-3" class="m-2" type="radio" name="inlineRadioOptions"  id="inlineRadio1" value="2">
                <label class="form-check-label pl-3" class="m-2" for="inlineRadio1"> 2-Wheeler</label>
              </div>
              </div>
              <!-- <div class="form-check form-check-inline"> -->
                <div class="col-lg-8">
                    <div class="ui-select">       
                 
                <input [(ngModel)]="wheeler"  class="form-check-input pl-3" class="m-2" type="radio" name="inlineRadioOptions" id="inlineRadio1" required #inlineRadio1="ngModel"value="4">
                <label class="form-check-label pl-3" class="m-2"  for="inlineRadio2">4-Wheeler</label>
              </div>
              </div>    
            </div>
        
          <div class="form-group text-left mb-5">
            <button (click)="submitDetail()" style="cursor: pointer;"class="btn mt-3 signup">Udate Detail</button>
          </div>
        
      </div>
    </div>
  </div>
  <hr>
  
  