.banner{
  background-image: url("../../assets/Images/about1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 45vh;
  background-size: cover;
  background-position: center center;
}


.about_Headding {
  text-align: center;
  padding-top: 50px;
  font-size: 200px;
}

.about_Headding h2{
  font-size: 40px;
  margin-bottom:30px;
}

.about_text {
 padding: 15px 25px;
  max-width: 100vw;
  /* text-align:justify; */
  text-align:center;
  font-size: 20px;
  word-spacing: 10px;
  line-height:40px;

}

.card{
  height: 200px;
  width: 180px;
}
.card img {
  height: 100%;
  width: 100%;
}
.card-body{
  margin-top: 25px;
}
.card-body p{
  margin: 0;
}

.text-center{
  padding: 25px 0;
  margin-bottom: 150px;
}

.aboutusbanner{
  height: 100%;
}

#myCarousel {
  height: auto;
  width: auto;
  overflow: hidden;
}
