<span class="main_bg">
</span>
<div class="container">
  <section class="userProfile card">
    <div class="profile">
      <figure><img src="../../assets/Images/profile.png" alt="profile" width="250px" height="250px"></figure>
    </div>
    <h1>Sapna Prajapat</h1>
    <h3>18 Y/O</h3>
  </section>
  <section class="work_skills card">
    <div class="work">
      <h1 class="heading">Sapna has a verified Profile</h1>
    </div>
    <fieldset>
      <legend>Checkbox example</legend>
      <input id="checkbox" type="checkbox" />
      <label for="checkbox">Confirmed Email</label>
      <input id="checkbox" type="checkbox" />
      <label for="checkbox">Confirmed Phone Number</label>
      <input id="checkbox" type="checkbox" />
      <label for="checkbox">Confirmed Govt. Id</label>
    </fieldset>
  </section>

  <section class="userDetails card">
    <div class="userName">
      <h1 class="name">About Sapna</h1>

      <p>I am Available</p>
    </div>

  </section>
  <section class="userDetails card">
    <div class="userName">
      <h1 class="name">Message for Rider</h1>
      <p>I am fine with smoking.</p>
    </div>
  </section>

  <section class="timeline_about card">
    <div class="tabs">
      <h3>20 rides Published</h3>
    </div>
  </section>

  <section class="comment card">
    <div class="comments">
      <h3>parth</h3>
      <h4>very good ride</h4>
    </div>
  </section>
</div>
