<div class="container profile">
  <section class="userProfile card-p-3">
    <div class="profileimage col-6">
      <img src="https://i.imgur.com/CFpa3nK.jpg" alt="profile" width="50px" height="50px">
    </div>
    <div class="col-6">
      <h1>Sapna Prajapat</h1>
      <h3>18 Y/O</h3>
    </div>

  </section>

  <section>
    <div class="card checkbox">
      <h1>Sapna has a Verified Profile</h1>
      <mat-checkbox class="example-margin">Confirmed Email</mat-checkbox>
      <mat-checkbox class="example-margin">Confirmed Phone Number</mat-checkbox>
      <mat-checkbox class="example-margin">Confirmed Govt. Id</mat-checkbox>
    </div>
  </section>

  <section>
    <div class="card about">
      <h1>About SAPNA</h1>
      <h3>I am not a Driver But I like to share my ride.</h3>
    </div>
  </section>

  <section class="timeline_about card">
    <div class="tabs">
      <h1>Total No. of Rides</h1>
      <h3>20 rides Published</h3>
    </div>
  </section>

  <section class="comment card">
    <div class="container  commentss">
      <div class="row">
        <div class="col-sm-5 col-md-6 col-12 pb-4">
          <h1>Comments</h1>
          <div class="comment mt-4 text-justify float-left">
            <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
          <h4>Jhon Doe</h4>
            <span>- 20 October, 2018</span>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero
              sequi velit molestias doloremque molestiae dicta?</p>
          </div>
        </div>
      </div>
    </div>
    </section>




