* {
  padding: 0;
  margin: 0;
  /*font-size: 14px;
  */font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}


.profile {
 width: 50%;
  height: 200vh;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));;
  padding: var(--p-1-5);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 25px rgba(0, 0, 0, 0.08);
  margin: 0 0 0 400px;
   overflow-x: hidden;
}

.profileimage img{
   margin-left: 50px;
   height:140px;
   width:140px;
   margin-top: 20px;
   border-color: red;
   border-radius: 100px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   -ms-border-radius: 100px;
   -o-border-radius: 100px;
}

.userProfile{
  margin:50px;
  display: flex;
}

.userProfile h3{
  margin:40px;
}

.checkbox{
  margin:30px;
}

.checkbox h1{
  margin:20px;

}

.checkbox .example-margin{
  margin: 20px;
}

.about{
  margin:30px;
}

.about h3,h1{
  margin:30px;
}

.timeline_about{
  margin:30px;
}

.tabs {
  margin:10px;
}

.tabs h3,h1{
  margin:30px;
}

.comment{
  margin:30px;
}

.comments{
  margin:10px;
}

.comments h3,h4{
margin:30px;
}


.comments{
  margin-top: 5%;
  margin-left: 20px;
}



.comment{
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(16, 46, 46, 0.973);
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;

}
.comment h4,.comment span,.darker h4,.darker span{
  display: inline;
}

.comment p,.comment span,.darker p,.darker span{
  color: rgb(184, 183, 183);
}

.commentss h1,h4{
  color: rgb(255, 255, 255);
  font-weight: bold;
}
label{
  color: rgb(212, 208, 208);
}

#align-form{
  margin-top: 20px;
}
.form-group p a{
  color: white;
}

#checkbx{
  background-color: black;
}

#darker img{
  margin-right: 25px;
  position: static;
}

@media screen and (max-width: 768px){

}


.verify label{
  font-size: 20px;
  vertical-align: middle;
  margin:10px;
}

.check{
  padding:30px;
  margin-bottom:20px;
}

.verfy  .i{
  margin: 30px;
height: 30px;
width:100px;
}
