<!-- <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container px-5">
    <a class="navbar-brand" style="text-decoration: none;" routerLink="">RideSharely</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      </ul>
      <ul class="navbar-nav right-nav">
        <li class="nav-item text-center" *ngIf="isLoggedIn()">
          <div class="dropdown">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
              Dropdown button
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="navigateToBookRides()" style="cursor: pointer;">Book Rides</a></li>
              <li><a class="dropdown-item" (click)="navigateToBookHistory()" style="cursor: pointer;">Book Rides History</a></li>
              <li><a class="dropdown-item" (click)="navigateToPublishRides()" style="cursor: pointer;">Publish Rides</a></li>
              <li><a class="dropdown-item" (click)="navigateToPublisherHistory()" style="cursor: pointer;">Publish Rides History</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a *ngIf="isLoggedIn()" (click)="navigateToVehicleDetail()" class="nav-link" style="cursor: pointer; margin-right: 25px; margin-top: -3px;"><i class="fas fa-plus-circle" style="padding-right: 8px;"></i>PUBLISH A RIDE</a>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <a class="text-white" style="text-decoration: none; vertical-align: middle;" *ngIf="isLoggedIn()">{{name |uppercase}}</a>
      <a class="dropdown-toggle" type="button" class=name id="userProfile" data-bs-toggle="dropdown"
        aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="userProfile">
        <li><a *ngIf="!isLoggedIn()" routerLink="sign-up" class="nav-link dropdown-item">Sign Up</a>
        <li><a *ngIf="!isLoggedIn()" routerLink="sign-in" class="nav-link dropdown-item">Sign In</a>
        <li><a *ngIf="isLoggedIn()"  routerLink="view-profile" class="nav-link dropdown-item"><i class="fa fa-user"></i>Profile</a></li>
        <li><a *ngIf="isLoggedIn()"  routerLink="view-vihicle" class="nav-link dropdown-item"><i class="fa fa-car"></i>Update your Vehicle</a></li>
        <li><a style="cursor: pointer" (click)="navigateToUserRide()" *ngIf="isLoggedIn()" class="nav-link dropdown-item"><i class="fa fa-list"></i>Your Rides</a></li>
        <li><a *ngIf="isLoggedIn()" class="nav-link dropdown-item"><i class="fas fa-comment" aria-hidden="true"></i>Inbox</a></li>
        <li><a (click)="signout()" *ngIf="isLoggedIn()" class="nav-link dropdown-item"><i class="fas fa-sign-out-alt" aria-hidden="true"></i>Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="">RideSharely</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-lg-0">
        <li class="nav-item">
          <a
            *ngIf="isLoggedIn()"
            class="nav-link"
            routerLink=""
            (click)="navigateToBookRides()"
            >Book Rides</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLoggedIn()"
            class="nav-link"
            routerLink=""
            (click)="navigateToBookHistory()"
            >Book Rides History</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLoggedIn()"
            class="nav-link"
            routerLink=""
            (click)="navigateToPublishRides()"
            >Publish Rides</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLoggedIn()"
            class="nav-link"
            routerLink=""
            (click)="navigateToPublisherHistory()"
            >Publish Rides History</a
          >
        </li>

      </ul>
      <ul class="navbar-nav right-nav">
        <li class="nav-item">
          <a
            *ngIf="isLoggedIn()"
            (click)="navigateToVehicleDetail()"
            class="nav-link"
            routerLink=""
            ><i class="fas fa-plus-circle" style="padding-right: 8px"></i
            >PUBLISH A RIDE</a
          >
        </li>
      </ul>
      <div class="dropdown">
        <a class="username" *ngIf="isLoggedIn()">{{ name | uppercase }}</a>
        <a
          class="dropdown-toggle"
          type="button"
          class="name"
          id="userProfile"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa fa-user-circle" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="userProfile">
          <li>
            <a
              *ngIf="!isLoggedIn()"
              routerLink="sign-up"
              class="nav-link dropdown-item"
              >Sign Up</a
            >
          </li>
          <li>
            <a
              *ngIf="!isLoggedIn()"
              routerLink="sign-in"
              class="nav-link dropdown-item"
              >Sign In</a
            >
          </li>
          <li>
            <a
              *ngIf="isLoggedIn()"
              routerLink="view-vihicle"
              class="nav-link dropdown-item"
              ><i class="fa fa-car"></i>Update your Vehicle</a
            >
          </li>
          <li>
            <a
              *ngIf="isLoggedIn()"
              routerLink="view-profile"
              class="nav-link dropdown-item"
              ><i class="fa fa-user"></i>Profile</a
            >
          </li>
          <li>
            <a
              (click)="signout()"
              *ngIf="isLoggedIn()"
              class="nav-link dropdown-item"
              ><i class="fas fa-sign-out-alt" aria-hidden="true"></i>Sign Out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
