<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container px-5">
      <a class="navbar-brand" href="#">Ride <small><sub>WithUs</sub></small></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          </ul>
          <ul class="navbar-nav right-nav">

              <li class="nav-item">
                  <a class="nav-link"><i class="fas fa-plus-circle" style="padding-right: 5px;"></i>PUBLISH A RIDE</a>
              </li>
              <li class="nav-item">
                  <a  class="nav-link"><i class="	fas fa-search-location" style="padding-right: 5px;"></i>SEARCH</a>
              </li>

          </ul>
      </div>
      <div class="dropdown">
          <a class="dropdown-toggle" type="button" class=name id="userProfile"
              data-bs-toggle="dropdown" aria-expanded="false">Sapna<i class="fa fa-user-circle" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="iserProfile">
              <li><a class="nav-link dropdown-item" routerLink="profile"><i class="fa fa-user"></i>Profile</a></li>
              <li><a class="nav-link dropdown-item" routerLink="cart"><i class="fa fa-shopping-cart"></i>RIDES</a></li>
              <li><a class="nav-link dropdown-item" routerLink="favorite"><i class="fa fa-heart"
                          aria-hidden="true"></i>WishList</a></li>
              <li><a class="nav-link dropdown-item"
                      routerLink="sign-out">SIGN OUT</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
