<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container px-5">
    <a class="navbar-brand" href="#">Ride</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      </ul>
      <ul class="navbar-nav right-nav">

        <li class="nav-item">
          <a class="nav-link"><i class="fas fa-plus-circle" style="padding-right: 5px;"></i>PUBLISH A RIDE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="	fas fa-search-location" style="padding-right: 5px;"></i>SEARCH</a>
        </li>

      </ul>
    </div>
    <div class="dropdown">
      <a class="dropdown-toggle" type="button" class=name id="userProfile" data-bs-toggle="dropdown"
        aria-expanded="false">Sapna<i class="fa fa-user-circle" aria-hidden="true"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="userProfile">
        <li><a class="nav-link dropdown-item">Sign Up</a>
        <li><a class="nav-link dropdown-item">Sign In</a>
        <li><a class="nav-link dropdown-item"><i class="fa fa-user"></i>Profile</a></li>
        <li><a class="nav-link dropdown-item"><i class="fa fa-car"></i>Your Rides</a></li>
        <li><a class="nav-link dropdown-item"><i class="fas fa-comment" aria-hidden="true"></i>Inbox</a></li>
        <li><a class="nav-link dropdown-item"><i class="fas fa-sign-out-alt" aria-hidden="true"></i>Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

