<!-- <nav class="navbar navbar-expand-lg navbar-primary mt-3 sticky-top">
  <div class="container px-5">
    <a (click)="navigateToBookRides()"  routerLink="" style="color: rgb(3, 7, 54); font-size: 23px;cursor: pointer;text-decoration:none; ">Book Rides</a>
    <ul class="navbar-nav mx-auto mb-2 mt-5 mb-lg-0">
    </ul>
    <a (click)="navigateToBookHistory()"  routerLink="" style="color: rgb(3, 7, 54); font-size: 23px;cursor: pointer;text-decoration:none;">Confirm Book Rides</a>
    <ul class="navbar-nav mx-auto mb-2 mt-5 mb-lg-0">
    </ul>
    <a (click)="navigateToPublishRides()" routerLink="" style="color: rgb(3, 7, 54); font-size: 23px;cursor: pointer;text-decoration:none;">Publish Rides</a>

    <ul class="navbar-nav mx-auto mb-2 mt-5 mb-lg-0">
    </ul>
    <a (click)="navigateToPublisherHistory()" routerLink="" style="color: rgb(3, 7, 54); font-size: 23px;cursor: pointer;text-decoration:none;">Confirm publish Rides</a>
  </div>
</nav> -->


<div class="container">
  <div class="row">
    <div class="col-md-2">
      <nav class="sidebar">
        <a (click)="navigateToBookRides()" >Book Rides</a>
        <a (click)="navigateToBookHistory()" >Confirm Book Rides</a>
        <a (click)="navigateToPublishRides()" >Publish Rides</a>
        <a (click)="navigateToPublisherHistory()">Confirm Publish Rides</a>
      </nav>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
