<div class="container">
  <img src="../../assets/Images/background1.jpg"  style="width:100%;opacity:0.3">

  <div class="centered">
    <div class="container">
      <div class="card" style="margin:100px;border-radius: 10px;  ">
      <!-- <div class="bg-image"> -->
        <h1>
          Vehicle Details
        </h1>
    <ul class="box-info" style="padding: 30px;">
      <li>
          <div class="cat-name">
            <label for="vehicleName">Vehicle Name</label>
            <input type="text" name="vehiclename" class="form-control">

            <label for="vehicletype">Vehicle Type</label><br>

              <input type="radio" name="Vehicletype">
              <label for="2-wheeler">2-Wheeler</label><br>
              <input type="radio" id="css" name="Vehicletype">
              <label for="3-wheeler">3-Wheeler</label><br>
              <input type="radio" name="Vehicletype">
              <label for="4wheeler">4-Wheeler</label>

            <br>
            <label for="VehicleImage">Vehicle Image</label><br>
            <input type="file" name="VehicleImage" id=""><br>

            <label for="categoryImage">Licsence Image</label><br>
            <input type="file" name="VehicleImage" id="">
            <a class="btn btn-primary ">Done</a>
             </div>
      </li>
    </ul>
  <!-- </div> -->
</div>
