<div class="container ">
  <div class="form-box">
    <form action="#" class="form mt-5">
      <div class="product-content">
        <h1 style="font-size:30px; margin-left:20px;">12 March 2021</h1>
        <div class="detail" style="margin-left: 73px;">
          <a type="button" id="userProfile" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i>
            <a href="" class="name">Sapna</a>
          </a>
        </div>
        <div class="from">

          <i class="material-icons" style="color:black;">radio_button_checked</i>
          <label style="padding-left:10px; font-size:10px"> Kalani Nagarv,Airport Road,SuperCoridor,indore</label>
        </div>
        <div class="vl">
        </div>
        <div class="from">
          <i class="material-icons">radio_button_checked</i>
          <label style="padding-left:10px;">Kalani Nagar</label>
        </div>
        <div class="from">
          <label>Date : 20/5/2021</label>
        </div>
        <div class="from">
          <label>Price for 1 Person : Rs. 50</label>
        </div>
        <h2>Message :</h2>
        <div class="card">
          <h3 style="padding-left:10px;">I am Comfertable with Smoking.</h3>
          <h3 style="padding-left:10px;">I am very Good Person</h3>
        </div>
        <div class="form-group">
          <a class="btn signup">Book Now</a>
        </div>
      </div>
    </form>
  </div>
</div>
