<div class="container ">
  <div class="form-box">
    <div action="#" class="form mt-5">
      <div class="product-content">
        <h1 style="font-size:50px; margin-left:80px;">{{publish.rideDate | date:'dd/MM/yyyy'}}</h1>
        <div class="detail" style="margin-left: 150px;">
          <a (click)="navigateToDetail(publish.publisherId._id)" style="cursor: pointer;" *ngIf="!getLength()" type="button" id="userProfile" aria-expanded="false"><i class="fa fa-user-circle"></i></a>

          <a (click)="navigateToDetail(publish.publisherId._id)" style="cursor: pointer;" *ngIf="getLength()"><img [src]="publish.publisherId.image" id="userProfile" height="100" width="100"/></a>

            <a (click)="navigateToDetail(publish.publisherId._id)" style="cursor: pointer;" class="name">{{publish.publisherId.name}}</a>

        </div>
        <div class="from">
          <label></label>
          <i  style="color:black; font-weight:bold;">From  </i>
          <label style="padding-left:10px;">: {{publish.fromId.place}}</label>
        </div>
        <div class="from">
          <i  style="color:black; margin-top: 15px; font-weight:bold; ">To </i>
          <label style="padding-left:10px; margin-left: 25px;">: {{publish.toId.place}}</label>
        </div>
        <div class="from mt-5">
          <label>Date : {{publish.rideDate | date:'dd/MM/yyyy'}}</label>
        </div>
        <div class="from">
          <label>Price for 1 Person : {{publish.amountPerPerson}}</label>
        </div>
        <div class="from m-3">
          <label>Distance : {{publish.distance}} km</label>
        </div>

        <div class="from m-3">
          <label>Expected Time  : {{getTime(publish.distance)}} minute</label>
        </div>

        <h2 class="m-3">Message :</h2>
        <div class="card m-3">
          <h3 style="padding-left:10px;">{{publish.msgForBooker}}</h3>
        </div>
        <div class="form-group">
          <a style="cursor:pointer; margin-left:90px" (click)="bookRide()" class="btn signup">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
