.norides{
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  border-radius: 0;
}

.card {
  margin-bottom: .75rem;
  box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
  /* border-radius: 45px; */
}
.main {
  display: flex;
  /* width: 1040px; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.product {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-title1{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-body1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  min-height: 220px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin:auto;
  color: #fff;
  padding: 5px 19px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.tag-teal {
  background-color: #1b2a49;
}

.ride-heading{
  margin:50px;
  text-align: center;
}
