.publish{
    margin: 35px auto;
    padding: 15px 30px;
    box-shadow:0 0 5px gray;
    max-width: 80%;
  }
  
  .publish-card{
    padding: 10px 20px;
  }
  .publish-card .left .from #from, .publish-card .left .to #to, .publish-card .left .date #date{
    font-size: 20px;
    font-weight: 600;
  }
  .publish-card .left .from #from-text, .publish-card .left .to #to-text, .publish-card .left .date #date-text{
    margin-left:10px;
    font-size: 16px;
  }
  .publish-card .left .to{
    margin: 30px 0;
  }

  .publish-card .right {
    width: fit-content;
    margin: auto;
  }
  .publish-card .right .remaining-seat{
    margin: 30px auto;
  }
  .publish-card .right .total-seat span, .publish-card .right .remaining-seat span, .publish-card .right .book-seat span{
    font-size: 16px;
    font-weight: 600;
  
  }
  .form-group {
    margin: 50px 0 0;
  }
  .form-group .signin{
    padding: 8px 25px;
    background: rgb(1, 2, 35);
    color: #fff;
  
  }
  .form-group .btn2{
    margin:0 15px;
  
  }
  
  