.publish{
    margin: 35px auto;
    padding: 15px 30px;
    box-shadow:0 0 5px gray;
    max-width: 80%;
  }

  .publish-card{
    padding: 10px 20px;
  }
  .publish-card .left .from #from, .publish-card .left .to #to, .publish-card .left .date #date{
    font-size: 20px;
    font-weight: 600;
  }
  .publish-card .left .from #from-text, .publish-card .left .to #to-text, .publish-card .left .date #date-text{
    margin-left:10px;
    font-size: 16px;
  }
  .publish-card .left .to{
    margin: 30px 0;
  }

  .publish-card .right {
    width: fit-content;
    margin: auto;
  }
  .publish-card .right .remaining-seat{
    margin: 30px auto;
  }
  .publish-card .right .total-seat span, .publish-card .right .remaining-seat span, .publish-card .right .book-seat span{
    font-size: 16px;
    font-weight: 600;

  }
  .form-group {
    margin: 50px 0 0;
  }
  .form-group .signin{
    padding: 8px 25px;
    background: rgb(1, 2, 35);
    color: #fff;

  }
  .form-group .btn2{
    margin:0 15px;

  }


  .publish{
  margin: 35px auto;
  padding: 15px 30px;
  box-shadow:0 0 5px gray;
  max-width: 80%;
}

.publish-card{
  padding: 10px 20px;
}
.publish-card .left .from #from, .publish-card .left .to #to, .publish-card .left .date #date{
  font-size: 20px;
  font-weight: 600;
}
.publish-card .left .from #from-text, .publish-card .left .to #to-text, .publish-card .left .date #date-text{
  margin-left:10px;
  font-size: 16px;

}
.publish-card .left .to{
  margin: 30px 0;
}

.publish-card .right {
  width: fit-content;
  margin: auto;
}
.publish-card .right .remaining-seat{
  margin: 30px auto;
}
.publish-card .right .total-seat span, .publish-card .right .remaining-seat span, .publish-card .right .book-seat span{
  font-size: 16px;
  font-weight: 600;

}
.form-group {
  margin-top: 30px;
}
.form-group .signin{
  padding: 8px 25px;
  background: rgb(1, 2, 35);
  color: #fff;

}
.form-group .btn2{
  margin:0 15px;

}





@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');


body {
background: #DFC2F2;
	background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
	background-attachment: fixed;
	background-size: cover;

	}

#container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 700px;


}



.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

#container .product-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;

}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%;
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}

.norides{
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
}




.card{
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.ride-history .card-img{
  height: 300px;
    width: 200px;
}
.ride-history .card-img img{
  
  width: 100%;
    height: 100%;
  object-fit: contain;
}
.ride-history .card-body .card-content .ride-data{
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}
.ride-history .card-body .card-content .ride-data h2{
  margin-bottom: 0;
}
.ride-history .card-body .card-content .ride-data span{
  margin-left:15px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}
.ride-history .card-body .feedback .form-group #feedback-text{
  margin-bottom: 15px;
  border-color: rgb(47, 47, 47);
}
.ride-history .card-body .feedback .form-group .feedback-btn{
text-decoration: none;
font-size: 15px;
letter-spacing: 1px;
color: #fff;
background: #1b2a49;
padding:6px 15px;

}
