<div class="section-title">
  <h2 class="text-center mt-5">User Request</h2>
</div>
<div id="container" *ngFor="let req of requets;index as i">
  <div class="product-details">
    <div class="control">
      <div class="from mb-3">
        <span id="from" style="font-size:20px;font-weight: bold;">Name : </span>
        <span id="from-text">{{ req.userId.name | uppercase }}</span> <div class="from mb-3">
      </div>
      </div>
      <div class="from mb-3">
        <span id="from" style="font-size:20px;font-weight: bold;">From : </span>
        <span id="from-text">{{ from }}</span>
      </div>
      <div class="to mb-3">
        <span id="to" style="font-size:20px;font-weight: bold; ">To :</span>
        <span id="to-text" style="margin-left:25px;">{{ to }}</span>
      </div>
      <div class="date">
        <span id="date" style="font-size:20px;font-weight: bold;">Date : </span>
        <span id="date-text ">{{ date | date: "dd/MM/yyyy" }}</span>
      </div>
      <div class="date mt-3">
        <span id="date" style="font-size:20px;font-weight: bold;">Number : </span>
        <span id="date-text ">{{req.userId.mobile}}</span>
      </div>
   <div class="form">

       <span> <button (click)="acceptRequest(req.userId._id,req.bookRideId)" style="cursor:pointer" class="btn btn-primary m-4"><i class="fas fa-check"></i></button></span>
        <span><button (click)="declineRequest(req.userId._id)" class="btn btn-danger"><i class="fas fa-times"></i></button></span>
      </div>
    </div>
  </div>

  <div class="product-image" >
    <img *ngIf="!getLength(i)"
    src="https://i.imgur.com/CFpa3nK.jpg" alt="">
    <img *ngIf="getLength(i)" [src]="req.userId.image" width="100px" height="100px" />
    
  </div>
</div>

<div class="product-card norides mt-5">
  <div class="card" style="width: 18rem" *ngIf="status">
    <div class="card-body">
      <h1 class="card-title text-center">No User Request</h1>
      <p class="card-text text-center">
        <img src="../../assets/Images/nothing-found.png">
      </p>
      <div class="text-center mt-5">
        <a routerLink="" style="cursor: pointer;">Back Home</a>
      </div>
    </div>
    
  </div>
</div>


  

