<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-in-form">
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-envelope-square"></i>
          <input type="password" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" />
        </div>
        <div class="input-field">
          <i class="fas fa-book"></i>
          <input type="password" placeholder="Aadhar No." />
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="number" placeholder="Age" />
        </div>

        <div class="gender">

          <i class="fas fa-restroom" style="margin-right: 40px;"></i>
          <div class="form-check form-check-inline">
            <input class="form-check-input" class="m-3" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" class="m-2" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" class="m-2"  for="inlineRadio2">Female</label>
          </div>
          </div>

        <input type="submit" value="Sign Up" class="btn solid" />
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3 class="pb-4">Already Have An Account ?</h3>
        <button class="btn" id="sign-up-btn">
          Sign in
        </button>
      </div>
      <img src="../../assets/Images/register3.png" class="image" style="width:700px;margin-left:80px" />
    </div>
  </div>
</div>
