<div class="heading text-center">
  <h1 class="pt-4">Publish Rides History</h1>
</div>
<div class="container" *ngFor="let ride of rides">
  <div class="publish  ">
    <div class="row publish-card">
      <div class="col-md-6 left">
        <div class="from">
          <span id="from">From :</span>
          <span id="from-text">{{ ride.fromId.place }}</span>
        </div>
        <div class="to">
          <span id="to">To :</span>
          <span id="to-text">{{ ride.toId.place }}</span>
        </div>
        <div class="date">
          <span id="date">Date :</span>
          <span id="date-text">{{ ride.rideDate | date: "dd/MM/yyyy" }}</span>
        </div>
        <div class="date mt-4">
          <span id="date">timeExpired :{{ride.isTimeExpired}}</span>
          <span id="date-text"></span>
        </div>
      </div>
      <div class="col-md-6 right">
        <div class="total-seat">
          <span>Total Seat :{{ ride.totalSeat }}</span>
        </div>
        <div class="remaining-seat">
          <span>Remaining Seats: {{ ride.seatAvailable }}</span>
        </div>
        <div class="book-seat">
          <span>Book Seat : {{ (ride.totalSeat-ride.seatAvailable) }}</span>
        </div>
        <div class="book-seat mt-4">
          <span>Booked : {{ride.isBooked}}</span>
        </div>
      </div>
      <div class="form-group text-center">
        <button
          style="cursor: pointer"
          (click)="navigateToCheckRightBooker()"
          class="btn signin"
        >
          Check right User
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <button style="cursor: pointer;color: blue" (click)="allUser()">Your All Rides</button>
</div>
