<div class="heading text-center" *ngIf="rideStatus">
  <div class="section-title">
    <h2 class="text-center mt-5">Publish Rides</h2>
  </div>
</div>

<div id="container" *ngFor="let ride of rides">
  <div class="product-details">
    <div class="control" style="margin: -25px;">
      <div class="from  mb-3" style="margin-top:30px;">
        <span id="from"  style="font-size:20px;font-weight: bold; ">From : </span>
        <span id="from-text">{{ ride.fromId.place }}</span>
      </div>
      <div class="to mt-3">
        <span id="to mb-3"  style="font-size:20px;font-weight: bold; ">To : </span>
        <span id="to-text">{{ ride.toId.place }}</span>
      </div>
      <div class="date mt-3">
        <span id="date"  style="font-size:20px;font-weight: bold; ">Date : </span>
        <span id="date-text">{{ ride.rideDate | date: "dd/MM/yyyy" }}</span>
      </div>
      <div class="date mt-4">
        <span id="date"  style="font-size:20px;font-weight: bold; ">Time Expired : {{ride.isTimeExpired}}</span>
        <span id="date-text"></span>
      </div>
      <div class="form-group text-center">
        <button style="cursor: pointer" (click)="navigateToCheckRightBooker(ride._id)" class="btn signin">
          Check right User
        </button>
      </div>
    </div>
  </div>
  <div class="product-image"  style="margin: 50px;">
    <div class="total-seat mt-3" style="font-size:20px;font-weight: bold;margin-right:55px; ">
      <span>Total Seat : {{ ride.totalSeat }}</span>
    </div>
    <div class="remaining-seat mt-5"  style="font-size:20px;font-weight: bold; ">
      <span>Remaining Seats : {{ ride.seatAvailable }}</span>
    </div>
    <div class="book-seat mt-5"  style="font-size:20px;font-weight: bold;margin-right:55px; ">
      <span>Book Seat : {{ (ride.totalSeat-ride.seatAvailable) }}</span>
    </div>
    <div class="book-seat mt-5"  style="font-size:20px;font-weight: bold; margin-right:55px; ">
      <span>Booked : {{ride.isBooked}}</span>
    </div>
    <div class="info" style="border-radius: 300px;">
      <img style="border-radius: 300px;"
        src="../../assets/Images/form22.png"
        alt="">
    </div>
  </div>
</div>


<div class="heading text-center" *ngIf="confirmStatus">
  <div class="section-title">
    <h2 class="text-center mt-5">Complete Rides</h2>
  </div>
</div>

<div id="container" *ngFor="let ride of completeRides">
  <div class="product-details">
    <div class="control" style="margin: -25px;">
      <div class="from  mb-3" style="margin-top:30px;">
        <span id="from"  style="font-size:20px;font-weight: bold; ">From : </span>
        <span id="from-text">{{ ride.fromId.place }}</span>
      </div>
      <div class="to mt-3">
        <span id="to mb-3"  style="font-size:20px;font-weight: bold; ">To : </span>
        <span id="to-text">{{ ride.toId.place }}</span>
      </div>
      <div class="date mt-3">
        <span id="date"  style="font-size:20px;font-weight: bold; ">Date : </span>
        <span id="date-text">{{ ride.rideDate | date: "dd/MM/yyyy" }}</span>
      </div>
      <div class="date mt-4">
        <span id="date"  style="font-size:20px;font-weight: bold; ">Time Expired : {{ride.isTimeExpired}}</span>
        <span id="date-text"></span>
      </div>
      <div class="form-group text-center">
        <button style="cursor: pointer" (click)="allUser(ride._id)" class="btn signin">
          Your rides
        </button>
      </div>
    </div>
  </div>
  <div class="product-image"  style="margin: 50px;">
    <div class="total-seat mt-3" style="font-size:20px;font-weight: bold;margin-right:55px; ">
      <span>Total Seat : {{ ride.totalSeat }}</span>
    </div>
    <div class="remaining-seat mt-5"  style="font-size:20px;font-weight: bold; ">
      <span>Remaining Seats : {{ ride.seatAvailable }}</span>
    </div>
    <div class="book-seat mt-5"  style="font-size:20px;font-weight: bold;margin-right:55px; ">
      <span>Book Seat : {{ (ride.totalSeat-ride.seatAvailable) }}</span>
    </div>
    <div class="book-seat mt-5"  style="font-size:20px;font-weight: bold; margin-right:55px; ">
      <span>Booked : {{ride.isBooked}}</span>
    </div>
    <div class="info" style="border-radius: 300px;">
      <img style="border-radius: 300px;"
        src="../../assets/Images/form22.png"
        alt="">
    </div>
  </div>
</div>


<div class="product-card norides mt-5">
  <div class="card" style="width: 18rem" *ngIf="status">
    <div class="card-body">
      <h1 class="card-title text-center">No Book Rides</h1>
      <p class="card-text text-center">
        <img src="../../assets/Images/nothing-found.png">
      </p>
      <div class="text-center mt-5">
        <a routerLink="" style="cursor: pointer;">Back Home</a>
      </div>
    </div>
    
  </div>
</div>









