<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color="#ffffff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="heading text-center" *ngIf="rideStatus">
  <div class="section-title">
    <h2 class="text-center mt-5">Publish Rides</h2>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div class="col-md-4 publish-card" *ngFor="let ride of rides">
      <div class="card-content">
        <div class="primary-content">
          <div class="from from-to">
            <h2>From- </h2>
            <span>{{ ride.fromId.place }}</span>
          </div>
          <div class="to from-to">
            <h2>To-</h2>
            <span>{{ ride.toId.place }}</span>
          </div>

          <div class="to from-to">
            <h2>Type - </h2>
            <span>{{ ride.rideType }}</span>
          </div>
          <div class="date from-to">
            <h2>Date - </h2>
            <span>{{ ride.rideDate | date: "dd/MM/yyyy" }}</span>
          </div>
          <div class="read-btn from-to">
            <a href="#" class="read-more">Read more</a>
          </div>
        </div>
        <div class="overlay-content">
          <div class="total-seat total">
            <div class="title">
              <h2>Total seat - </h2>
            </div>
            <div class="data">
              <span> {{ ride.totalSeat }}</span>
            </div>
          </div>
          <div class="remaining-seat total">
            <div class="title">
              <h2>Remaining seat- </h2>
            </div>
            <div class="data">
              <span>{{ ride.seatAvailable }}</span>
            </div>
          </div>
          <div class="book-seat total">
            <div class="title">
              <h2>Book seat -</h2>
            </div>
            <div class="data">
              <span>{{ (ride.totalSeat-ride.seatAvailable) }}</span>
            </div>
          </div>
          <div class="btns">
            <a class="request" style="cursor:pointer" (click)="navigateToCheckRightBooker(ride._id)">Check Right User</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="heading text-center" *ngIf="confirmStatus">
  <div class="section-title">
    <h2 class="text-center mt-5">Complete Rides</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 publish-card"  *ngFor="let ride of completeRides">
      <div class="card-content">
        <div class="primary-content">
          <div class="from from-to">
            <h2>From- </h2>
            <span> {{ ride.fromId.place }}</span>
          </div>
          <div class="to from-to">
            <h2>To- </h2>
            <span>{{ ride.toId.place }}</span>
          </div>

          <div class="to from-to">
            <h2>Type - </h2>
            <span>{{ ride.rideType }}</span>
          </div>
          <div class="date from-to">
            <h2>Date - </h2>
            <span>{{ ride.rideDate | date: "dd/MM/yyyy" }}</span>
          </div>
          <div class="read-btn from-to">
            <a href="#" class="read-more">Read more</a>
          </div>
        </div>
        <div class="overlay-content">
          <div class="total-seat total">
            <div class="title">
              <h2>Total seat - </h2>
            </div>
            <div class="data">
              <span> {{ ride.totalSeat }}</span>
            </div>
          </div>
          <div class="remaining-seat total">
            <div class="title">
              <h2>Remaining seat- </h2>
            </div>
            <div class="data">
              <span>{{ ride.seatAvailable }}</span>
            </div>
          </div>
          <div class="book-seat total">
            <div class="title">
              <h2>Book seat -</h2>
            </div>
            <div class="data">
              <span>{{ (ride.totalSeat-ride.seatAvailable) }}</span>
            </div>
          </div>
          <div class="btns">
            <a class="request" style="cursor:pointer"  (click)="allUser(ride._id)">Your rides</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<h1 class="text-center" *ngIf="status">There Is no complete rides.......</h1>









