<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color="#ffffff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="section-title">
  <h2 class="text-center mt-5">Book History</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 book-rides" *ngFor="let user of users">
      <div class="card">

        <a (click)="navigateToDetail(user.publisherId._id)" style="cursor: pointer"><img
          class="card-img-top"
          *ngIf="!getLength(user.publisherId.image.length)" src="https://i.imgur.com/CFpa3nK.jpg" alt="profile"
          width="100px" height="250px"></a>
      <a (click)="navigateToDetail(user.publisherId._id)" style="cursor: pointer"><img
        class="card-img-top"
          *ngIf="getLength(user.publisherId.image.length)" [src]="user.publisherId.image" alt="profile" width="100ppx"
          height="250px"></a>

        <div class="card-body">
          <div class="card-content">
            <div class="primary-content">
              <div class="from from-to">
                <h2>From- </h2>
                <span> {{user.fromId.place}}</span>
              </div>
              <div class="to from-to">
                <h2>To - </h2>
                <span>{{user.toId.place}}</span>
              </div>
              <div class="date from-to">
                <h2>Date - </h2>
                <span>{{user.rideDate | date: "dd/MM/yyyy" }}</span>
              </div>


              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                      aria-controls="panelsStayOpen-collapseOne">
                      Read more
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse hide"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      <div class="accordion-content">
                        <div class="name text">
                          <h2>Name :</h2>
                          <span>{{user.publisherId.name}}</span>
                        </div>
                        <div class="mobile text">
                          <h2>Mobile :</h2>
                          <span>{{user.publisherId.mobile}}</span>
                        </div>
                        <div class="email text">
                          <h2>Email :</h2>
                          <span>{{user.publisherId.email}}</span>
                        </div>
                      </div>
                      <div class="feedback">
                        <textarea class="form-control" #comment placeholder="Feedback" id="feedback" cols="30"
                          rows="2"></textarea>
                        <div class="buttons">
                          <a style="cursor: pointer" class="cancel-btn" (click)="addComment(user.publisherId._id,comment.value)">Submit</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center" *ngIf="status">No Book Rides....</h1>

<section id="features" class="features" data-aos="fade-up">
  <div class="container">

    <div class="section-title">
      <h2 class="text-center mt-5">Our Aim To make your Ride Enjoyable</h2>
      <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
        <img src="https://o.remove.bg/downloads/904d4ee1-8f27-4d73-86d8-7dbf8f0cd522/image-removebg-preview.png"
          class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
      </div>
      <h4>RideSharely Corporate+ is an exclusive bikepool and carpool model for corporates. RideSharely partners with
        corporates to provide carpooling and bikepooling as an alternative to existing modes of employee commute.
        RideSharely Corporate+ pools employees commuting in the same routes into a single ride, allowing them to travel
        smarter to work, save on commute costs, and make connections along the way.</h4>
    </div>

    <div class="row content mt-5">
      <div class="col-md-5">
        <img src="https://o.remove.bg/downloads/06bf4ac4-6812-4a94-ae02-0521970979c5/image-removebg-preview.png"
          class="img-fluid" alt="">
      </div>
      <div class="col-md-7 mt-5 pt-4">
        <h1>Enjoy Your Rides</h1>
        <p class="fst-normal">
          Employees enjoy the benefits of ridesharing and arrive fresh to work without having to take public
          transport.Both corporates and employees save money on employee transport and fuel
        </p>
      </div>
    </div>

    <div class="row m-5" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="../../assets/Images/form2.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 mt-5 order-2 order-md-1">
        <h1>Book your Rides</h1>
        <p class="fst-normal">
          Indicate departure and arrival points, the date of the ride and check our recommended price to increase your
          chances of getting your first passengers and ratings.
        </p>
      </div>
    </div>


  </div>
</section><!-- End Features Section -->
