<div class="container bootstrap snippets bootdey">
  <h1 class="text-primary m-5" style="padding-left:600px;">Edit Profile</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3 sara">
      <div class="text-center">
        <img *ngIf="!getLength(user.image.length)" [src]="imageUrl"   height="200px" width="200px">
      <img *ngIf="getLength(user.image.length)"   [src]="user.image" height="200px" width="200px">
      <!-- <img *ngIf="!getLength(image.length)" [src]="imageUrl"   height="200px" width="200px">
        <img *ngIf="getLength(image.length)"  [src]="image" height="200px" width="200px"> -->
        <h6>Upload a different photo...</h6>

        <input type="file" (change)="selectImage($event)"  name="image" class="form-control">
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">

      <h1>Personal info</h1>

      <!-- <form class="form-horizontal" role="form"> -->
        <div class="form-group">
          <label class="col-lg-3 control-label">Name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" [(ngModel)]="user.name" name="user.name" [value]="user.name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" [value]="user.email" disabled>
              <button class="btn done btn" (click)="emailEdit(user._id)">Edit</button>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Contact :</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <input class="form-control" type="text" [value]="user.mobile"  disabled>
              <button class="btn done btn" (click)="mobileEdit(user._id)">Edit</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Mini Bio :</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <textarea class="form-control" type="text" [(ngModel)]="user.miniBio" name="user.miniBio" [value]="user.miniBio"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group text-left mb-5">
          <button class="btn signin btn2"  (click)="doneMethod(user._id)">Done</button>
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>
<hr>
