<!-- <div class="heading">
  <h1>Publish Rides</h1>
</div>
<div class="container bg-color">
  <div class="row">
    <div class="col-md-6">
      <label style="margin-top:60px; padding-left: 20px;">From :</label>
      <span class="texu m-3">Harda nimaber Handiya ram ram shre</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label style="margin-top:20px; padding-left: 20px;">To :</label>
      <span class="texu m-3">Indore shree ram shyam singh rao</span>
    </div>
    <div class="col-6" style="text-align: right; padding-right:99px;">
      <div class="mb-3 "><b>Total Seat :</b> 500</div>
    </div>

  </div>
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-6 ">

      <b style="text-align: right; padding-right:28px;">Date : 20/2/12</b>
    </div>
    <div class="col-md-6" style="text-align: right; padding-right:50px;">

      <div class="mb-3"> <b> Remaining Seats:</b> 2 </div>

      <div class="col-md-12 col-sm-12 col-xl-12 col-xs-12 mt-3 mb-3">
        <b style="text-align: right; padding-right:28px;">Book Seat : 0</b>
      </div>

    </div>
    <div class="form-group text-center" >
      <button style="cursor:pointer;" class="btn signin ">Cancel Ride</button>
      <button style="cursor:pointer;" class="btn signin btn2">User Request</button>
      <button style="cursor:pointer;" class="btn signin ">Check right User</button>
    </div>
  </div>
</div>

 -->


 <div class="container">
   <div class="heading text-center">
    <h1 class="pt-4">Publish Rides</h1>
   </div>
   <div class="publish">
   <div class="row publish-card">
     <div class="col-md-6 left">
        <div class="from">
          <span id="from">From :</span>
          <span id="from-text">Harda nimaber Handiya ram ram shre</span>
        </div>
        <div class="to">
          <span id="to">To :</span>
          <span id="to-text">Indore shree ram shyam singh rao</span>
        </div>
        <div class="date">
          <span id="date">Date :</span>
          <span id="date-text">20/2/12</span>
        </div>
     </div>
     <div class="col-md-6 right">
      <div class="total-seat">
        <span>Total Seat : 500</span>
      </div>
      <div class="remaining-seat">
        <span>Remaining Seats: 2 </span>
      </div>
      <div class="book-seat">
        <span>Book Seat : 0</span>
      </div>
     </div>
   </div>
   <div class="form-group text-center" >
    <button class="btn signin ">Cancel Ride</button>
    <button class="btn signin btn2">User Request</button>
    <button  class="btn signin ">Check right User</button>
  </div>
</div>
 </div>
