<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Publish Your Rides <span>On RideSharely</span></h2>
        <p class="animate__animated animate__fadeInUp">RideSharel is an eco-smart option for handling all your travel
          needs by connecting you with fellow professional riders. As our cities are growing, increased traffic adds
          to the chaos and pollution. Hence, we have committed to providing a convenient, economical and sustainable
          solution to this problem through carpooling and bike pooling.</p>
      </div>
    </div>
  </div>
</section>


<div class="section-title">
  <h2 class="text-center mt-5">Publish Rides</h2>
</div>
<div class="container" *ngFor="let ride of rides;index as i">
  <!-- <div class="product-details">
    <div class="control">
      <div class="from mb-3">
        <span id="from" style="font-size:20px;font-weight: bold;">From : </span>
        <span id="from-text">{{ ride.fromId.place }}</span>
      </div>
      <div class="to mb-3">
        <span id="to" style="font-size:20px;font-weight: bold; ">To :</span>
        <span id="to-text" style="margin-left:25px;">{{ ride.toId.place }}</span>
      </div>
      <div class="date">
        <span id="date" style="font-size:20px;font-weight: bold;">Date : </span>
        <span id="date-text ">{{ ride.rideDate | date: "dd/MM/yyyy" }}</span>
      </div>
   <div class="form ">

       <span> <button style="cursor: pointer;margin-top:30px;" (click)="navigateToUserRequest(ride._id)" class="btn signin btn2 ">
          User Request
        </button></span>
        <span><button style="cursor: pointer;margin-top:30px;" (click)="cancelRide(ride._id)" class="btn signin btn2">Cancel Ride</button></span>
      </div>
    </div>
  </div>

  <div class="product-image" style="margin: 50px;">
    <div class="total-seat mt-3" style="font-size:20px;font-weight: bold;margin-right:55px; ">
      <span>Total Seat : {{ ride.totalSeat }}</span>
    </div>
    <div class="remaining-seat mt-5" style="font-size:20px;font-weight: bold; ">
      <span>Remaining Seats : {{ ride.seatAvailable }}</span>
    </div>
    <div class="book-seat mt-5" style="font-size:20px;font-weight: bold;margin-right:55px; ">
      <span>Book Seat : {{ (ride.totalSeat-ride.seatAvailable) }}</span>
    </div>

    <div class="info" style="border-radius: 300px;">
      <img style="border-radius: 300px;" src="https://www.kindpng.com/picc/m/722-7223309_bike-taxi-png-transparent-png.png" alt="">
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4 publish-card">
      <div class="card-content">
        <div class="primary-content">
          <div class="from from-to">
            <h2>From- </h2>
            <span> Kushwah Nagar Main, Radhakrishna Nagar, Yadav Nand Nagar,</span>
          </div>
          <div class="to from-to">
            <h2>To - </h2>
            <span>Awantika Nagar</span>
          </div>
          <div class="date from-to">
            <h2>Date - </h2>
            <span>26/05/2022</span>
          </div>
          <div class="read-btn from-to">
            <a href="#" class="read-more">Read more</a>
          </div>
        </div>
        <div class="overlay-content">
          <div class="total-seat total">
            <div class="title">
              <h2>Total seat - </h2>
            </div>
            <div class="data">
              <span> 3</span>
            </div>
          </div>
          <div class="remaining-seat total">
            <div class="title">
              <h2>Remaining seat- </h2>
            </div>
            <div class="data">
              <span>3</span>
            </div>
          </div>
          <div class="book-seat total">
            <div class="title">
              <h2>Book seat -</h2>
            </div>
            <div class="data">
              <span>0</span>
            </div>
          </div>
          <div class="btns">
            <a  (click)="navigateToUserRequest(ride._id)"  class="request">User request</a>
            <a href="#" class="cancel">Cancel ride</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="product-card norides mt-5">
  <div class="card" style="width: 18rem" *ngIf="status">
    <div class="card-body">
      <h1 class="card-title text-center">No Book Rides</h1>
      <p class="card-text text-center">
        <img src="../../assets/Images/nothing-found.png">
      </p>
      <div class="text-center mt-5">
        <a routerLink="" style="cursor: pointer;">Back Home</a>
      </div>
    </div>

  </div>
</div> -->

<section id="features" class="features" data-aos="fade-up">
  <div class="container">

    <div class="section-title">
      <h2 class="text-center mt-5">Publish Rides</h2>
      <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
        <img src="../../assets/Images/form2.png" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
      </div>
      <p>Offering a carpool/bikepool ride on RideSharely is easy. To publish your ride, use our RideSharely.com. Indicate your departure and arrival points, the date and time of your departure, how many passengers you can take and the price per seat. You’ll also need to choose how you want to accept bookings , and you have the option of adding any important details you think your passengers should know about. Then tap ‘Publish ride’ and you’re done!</p>
    </div>

    <div class="row content mt-5">
      <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
        <img src="../../assets/Images/register3.png" class="img-fluid mt-3" alt="">
      </div>
      <div class="col-md-7 mt-5 pt-4" data-aos="fade-left" data-aos-delay="100">
        <h1>On RideSharely</h1>
        <p class="fst-normal">
          Carpooling/Bikepooling with RideSharely is super easy, and free! Simply sign up for an account and tell us some basic details about yourself. Once you have a RideSharely account, you can start booking or publishing rides directly on our website.
        </p>
      </div>
    </div>

    <div class="row m-5" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2 mt-5">
        <img src="../../assets/Images/success.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 mt-3 order-2 order-md-1">
        <h1>Verify Your Accont</h1>
        <p class="fst-normal">
          We send an email verification to your email ID that you provide us at the time of creation of your profile. Click on the link given in the mail which will automatically verify the account. Or if we talk about contact than we will send you OTP to your number that you provide us at the time of creation of your profile.        </p>
      </div>
    </div>


  </div>
</section>

<div class="container">

</div>






<!-- <section id="team" class="pb-5">
  <div class="container">
      <h5 class="section-title h1">OUR TEAM</h5>
      <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="https://www.kindpng.com/picc/m/722-7223309_bike-taxi-png-transparent-png.png" alt="card image"></p>
                                  <h4 class="card-title">Sunlimetech</h4>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card" *ngFor="let ride of rides;index as i">
                              <div class="card-body text-center mt-4">
                                <div class="from mb-3">
                                  <span id="from" style="font-size:20px;font-weight: bold;">From : </span>
                                  <span id="from-text">{{ ride.fromId.place }}</span>
                                </div>
                                <div class="to mb-3">
                                  <span id="to" style="font-size:20px;font-weight: bold; ">To :</span>
                                  <span id="to-text" style="margin-left:25px;">{{ ride.toId.place }}</span>
                                </div>
                                <div class="date">
                                  <span id="date" style="font-size:20px;font-weight: bold;">Date : </span>
                                  <span id="date-text ">{{ ride.rideDate | date: "dd/MM/yyyy" }}</span>
                                </div>
                                <div class="total-seat mt-3" style="font-size:20px;font-weight: bold;margin-right:55px; ">
                                  <span>Total Seat : {{ ride.totalSeat }}</span>
                                </div>
                                <div class="remaining-seat mt-5" style="font-size:20px;font-weight: bold; ">
                                  <span>Remaining Seats : {{ ride.seatAvailable }}</span>
                                </div>
                                <div class="book-seat mt-5" style="font-size:20px;font-weight: bold;margin-right:55px; ">
                                  <span>Book Seat : {{ (ride.totalSeat-ride.seatAvailable) }}</span>
                                </div>
                                <div class="form ">

                                  <span> <button style="cursor: pointer;margin-top:30px;" (click)="navigateToUserRequest(ride._id)" class="btn signin btn2 ">
                                     User Request
                                   </button></span>
                                   <span><button style="cursor: pointer;margin-top:30px;" (click)="cancelRide(ride._id)" class="btn signin btn2">Cancel Ride</button></span>
                                 </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>
 -->








