<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color="#ffffff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-5" *ngFor="let p of pubilsh;index as i">
      <div class="container-fluid d-flex justify-content-center align-items-center bg-image">
        <div class="card text-center">
          <div class="card-header p-5" >
            <a  (click)="navigateToDetail(p.bookerId._id)" style="cursor: pointer;border-radius: 30px;">
              <img *ngIf="!getLength(p.bookerId.image.length)" src="https://i.imgur.com/CFpa3nK.jpg" alt="profile" width="100px" height="100px" style="border-radius: 50%;"></a>
            <a (click)="navigateToDetail(p.publisherId._id)" ><img *ngIf="getLength(p.bookerId.image.length)" [src]="p.bookerId.image" style="border-radius: 50%;" alt="profile" width="100px" height="100px" ></a>
            <h5 class="m-4">BOOKER VERIFICATION</h5>
            <div>
              <div class="form-group">
                <!-- <input  type="text" placeholder="Mobile" /> -->
                <label>Name : {{p.bookerId.name}}</label>
              </div>
              <label>Mobile : {{p.bookerId.mobile}}</label>
            </div>
          </div>
          <div class="form-group otp">
            <input #otp type="text" placeholder="OTP" />
          </div>
          <div class="mt-3 mb-5">
            <button (click)="matchOtp(p.bookerId._id,otp.value)" class="btn btn-success px-4 verify-btn m-2">verify</button>
            <button (click)="cancel(p.bookRideId,p.bookerId._id)" class="btn btn-success px-4 verify-btn m-2">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="product-card norides mt-5">
  <div class="card" style="width: 18rem" *ngIf="status">
    <div class="card-body">
      <h1 class="card-title text-center">No Book Rides</h1>
      <p class="card-text text-center">
        <img src="../../assets/Images/nothing-found.png">
      </p>
      <div class="text-center mt-5">
        <a routerLink="" style="cursor: pointer;">Back Home</a>
      </div>
    </div>

  </div>
</div>
