<div class="container">
  <div class="row">
    <div class="col-md-4 mb-5" *ngFor="let p of pubilsh">
      <div class="container-fluid d-flex justify-content-center align-items-center bg-image">
        <div class="card text-center">
          <div class="card-header p-5">
            <img src="../../assets/Images/profile.png">
            <h5 class="mb-4">BOOKER VERIFICATION</h5>
            <div>
              <div class="form-group">
                <i class="fas fa-mobile-alt"></i>
                <label>Name : Sapna</label>
              </div>
              <label>Mobile : 1234567898</label>
            </div>
          </div>
          <div class="form-group otp">
            <input  type="text" placeholder="OTP" />
          </div>
          <div class="mt-3 mb-5">
            <button class="btn btn-success px-4 verify-btn">verify</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
