<span class="main_bg">
</span>
<div class="container">
  <section class="userProfile card">
    <p>Check Details and Book</p>
  </section>
  <section class="work_skills card">
    <!-- <div class="work">
      <h1 class="heading">Sapna has a verified Profile</h1>
    </div> -->

<h2>From</h2><h4>Delhi</h4>
<h2>TO</h2><h4>Mumbai</h4>
  </section>

  <section class="userDetails card">
    <div class="userName">
      <h1 class="name">About Sapna</h1>

      <p>I am Available</p>
    </div>



    <div class="userName">
      <h1 class="name">Message for Rider</h1>
      <p>I am fine with smoking.</p>
    </div>
  </section>

  <section class="comment card">
    <div class="comments">
      <h3>parth</h3>
      <h4>very good ride</h4>
    </div>
  </section>
  <input type="submit"  value="book" class="btn solid2" />
</div>

