<div class="container">
  <div>
    <section class="userProfile">
      <h1>Check Details and Book</h1>
    </section>
    <section class="card">
      <div class="work_skills ">
        <div class="bullet">
          <span class="col-6">
            <ul>
              <li></li>
              <li></li>
            </ul>
          </span>

        </div>

        <div class="line">
          <h2>From :<span>Airport Road</span></h2>
          <h2 style="padding-top:30px;">To :<span style="padding-left:25px;">Rajwada</span></h2>
        </div>
      </div>
    </section>

    <section class="userDetails ">
      <div class="about">
        <h1>About Sapna</h1>
        <div class="card a-mess">
          <p>I am Available</p>
        </div>
      </div>
    </section>
    <section class=" message-rider">
      <div class="message">
        <h1>Message for Rider</h1>
        <div class="card list">
          <p>I am fine with smoking.</p>
        </div>
      </div>
    </section>

    <div class="form-group search-btn">
      <input type="submit" value="Search" class="btn solid3" />
    </div>
  </div>

<!-- ffff -->
</div>
