<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color="#ffffff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="rounded-1 p-1 mb-1" style=" ">
          <h1 class="text-center">Profile</h1>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img *ngIf="!getLength(user.image.length)" src="https://i.imgur.com/CFpa3nK.jpg" height="180" width="180">
            <img *ngIf="getLength(user.image.length)" [src]="user.image" height="180" width="180">
            <h5 class="my-3">{{user.name}}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.name}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.mobile}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Age</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.age}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mini Bio</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.miniBio}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row">

</div>
<div class="card " style="background-color: #eee">
      <div class="container">
        <div class="check card">
          <h1>Verify Your Detail</h1>
          <div class="verify">
            <label
              ><i
                class="fa fa-check-circle"
                style="
                  font-size: 28px;
                  padding-right: 10px;
                  color: rgb(46, 46, 249);
                "
              ></i
              >Verify Govt. Id</label
            ><br />
            <label
              ><i
                class="fa fa-check-circle"
                style="
                  font-size: 28px;
                  padding-right: 10px;
                  color: rgb(46, 46, 249);
                "
              ></i
              >Confirm Email {{ user.email }}</label
            ><br />
            <label
              ><i
                class="fa fa-check-circle"
                style="
                  font-size: 28px;
                  padding-right: 10px;
                  color: rgb(46, 46, 249);
                "
              ></i
              >Verify Mobile : {{ user.mobile }}</label
            ><br />
          </div>
        </div>
      </div>
</div>

<div class="container bootdey" >
  <div class="container text-center mt-4 mb-4">
    <h1 >Your feedback</h1>
  </div>
  <div class="row" >
      <div class="col-sm-6 col-md-6"*ngFor="let comment of comments| paginate: { itemsPerPage: 4, currentPage: p }">
          <div class="review-block">
              <div class="row">
                  <div class="col-sm-3">
                      <div class="review-block-img">
                        <img *ngIf="!getLength(comment.userId.image.length)" src="https://i.imgur.com/CFpa3nK.jpg" height="180" width="180">
                        <img *ngIf="getLength(comment.userId.image.length)" [src]="comment.userId.image" height="180" width="180">
                      </div>
                      <div class="review-block-name"><a (click)="navigateToDetail(comment.userId._id)" style="cursor: pointer;">{{ comment.userId.name }}</a></div>
                      <div class="review-block-date">{{ comment.userId.email }}</div>
                  </div>
                  <div class="col-sm-9">
                      <div class="review-block-rate">

                      </div>
                      <div class="review-block-title">{{ comment.feedback }}</div>
                      <div class="review-block-description"> </div>
                  </div>
              </div>
              <hr>
          </div>
      </div>
  </div>
  </div>
  <div class="text-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

<div class="form-group text-center mb-5">
  <button (click)="editProfile()" class="btn signin btn2">Edit Your Profile</button>
</div>
