<div class="heading text-center">
  <h1 class="pt-4">Book Rides</h1>
</div>

<div class="container" *ngFor="let book of bookRides">
  <div class="publish">
    <div class="row publish-card">
      <div class="col-md-6 left">
        <div class="from">
          <span id="from">From : </span>
          <span id="from-text">{{book.fromId.place}}</span>
        </div>
        <div class="to">
          <span id="to">To :</span>
          <span id="to-text">{{book.toId.place}}</span>
        </div>
        <div class="date">
          <span id="date">Date :</span>
          <span id="date-text">{{book.rideDate | date: "dd/MM/yyyy"}}</span>
        </div>
      </div>
      <div class="col-md-6 right">
        <div class="total-seat">
          <span
            >
            <a (click)="navigateToDetail(book.publisherId._id)" style="cursor: pointer"><img *ngIf="!getLength(book.publisherId.image.length)" src="https://i.imgur.com/CFpa3nK.jpg" alt="profile" width="100px" height="100px"></a>
            <a (click)="navigateToDetail(book.publisherId._id)" style="cursor: pointer"><img *ngIf="getLength(book.publisherId.image.length)" [src]="book.publisherId.image" alt="profile" width="100px" height="100px"></a></span>
        </div>
        <div class="remaining-seat">
          <a (click)="navigateToDetail(book.publisherId._id)" style="cursor: pointer"><span>Name: {{book.publisherId.name}} </span></a>
        </div>
        <div class="book-seat"></div>
      </div>
    </div>
    <div class="form-group text-center">
      <button (click)="cancelRide(book.publisherId._id,book._id)" style="cursor: pointer;" class="btn signin btn2">Cancel Ride</button>
    </div>
  </div>
</div>
